$cr: #A40A0E;
$tf: arial;
$ta: center;
$ng: bold;
$tdf: normal;
$bln: 50px;
$th1: 35px;
$th2: 25px;
$th3: 17px;
$th4: 12px;
$cn: black;
$cb: white;
$dd: right;
$da: bottom;
$di: left;
$nn: none;
$hvr: hover;

* {

	text-align: $ta;
	justify-content: $ta;
	align-items: $ta;
}


h2 {
	font-size:$ta;
	font-family: $tf;
	font-weight: $ng;
	color: #A40A0E;
	border-width: $bln
}


h3{
	font-size:17px;
	font-family: $tf;
	font-weight: $tdf;
	line-height: $ta
}

h4{
	font-size:12px;
	font-family: $tf;
	font-weight: $ng;

}


li {
	font-size:17px;
	font-family: $tf;
	font-weight: $ng;
}


div {
	font-size:14px;
	font-family: $tf;
	font-weight: $tdf;

}



td {
	font-size:15px;
	font-family: $tf;
	font-weight: $tdf;
}



header {

	background-color: #090B10;
}

.row {

	text-align: $ta !important;
	justify-content: $ta !important;
	align-items: $ta !important;
}

.Container {

	margin-top: 150px;

	margin-bottom:150px;

	margin-right: 150px;

	margin-left: 150px;;
}

.row h2 {

	margin-top: 80px;
	justify-items: $ta;
	align-items: $ta;

}


.Quienessomos {

	display: grid;

	grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);

	grid-template-rows: 33% 33% 33%;

	justify-items: $ta;

	align-items: $ta;

	margin-bottom: 120px;

}


.Quinessomos div {

	margin-top: 20px;

	margin: 10px;

	border: 2px solid red;
}



.Slide {
	color:white;
	font-style: $ng;
	display: table;
	margin: 100px auto;

}


.Slide img {

	max-width: 540px;
	max-height: 800px;
}

.Slide h5{
	color: white;
	font-weight: $ng;
	font-size: 20px;
}

.Slide p{
	color: black;
	font-weight: $ng;
	font-size: 18px;
}



.form-vertical {
	
	align-items: $ta;
	text-align: $ta;
	justify-content: $ta;
	border: 1px solid black;
	max-width: 500px;
	margin: auto;

}


.form-group {
  display: grid;
  align-items: $ta;
  justify-content: $ta;}

.Formulario_container textarea {
  align-content: $ta;
  display: inline-block;
  border: 2px solid #151515;
  margin: auto; }

.Formulario_container input {
  margin-bottom: 40px; }

.Formulario_container {
  background-color: #D7D89E;
  max-width: auto;
  border: 5px solid #151515;
  margin-top: 20px; }

.Formumate {
  position: relative;
  align-items: $ta;
  justify-content: $ta;
  display: table;
  margin: auto; }


.Tomateflota {

	position: absolute;
	bottom: -2950px;
	right: $bln;
	transition: transform 0.2s ease-in-out;
}



#Cierre{
	position: relative;
	margin-top: 40px;
	background-color: #151515;
	color: #ffffff;
	vertical-align: bottom;

}

