
@media ( max-width: 768px ){




}



@media ( min-width: 768px ) and ( max-width: 991px ) {

	p {
		font-size: 30px
	}

}



@media ( min-width: 991px ){

	p {
		color: black;
		font-family: arial;
		font-weight: normal;
	}

}


* {

	text-align: center;
	justify-content: center;
	align-items: center;
}


h1 {
	color: black;

}

h2 {
	font-size:25px;
	font-family: arial;
	font-weight: bold;
	color: #A40A0E;
	border-width: 50px
}


h3{

	font-size:17px;
	font-family: arial;
	font-weight: bold;
	line-height: 25px
}




.Zanahoria {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	max-width: 500px;
	max-height: 900px;
	display: grid;
}


.Listadecompra {
width: 200px;
height: 150px;

}

.form-group {

  max-width: 400px;
  max-height: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin:  auto;
  border: 1px dashed black;
  font-style: bold;
}





.Boton1 {

	margin: 5px:;
}

.Boton2 {

	margin: 5px;

}


table td {

	text-align: center;
}

table tr {

	text-align: center;
}



footer{
	margin-top: 30px;
	background-color: black;

}

footer p{

	color:white;
}